<div class="container-divider"></div>
<div id="main-content" class="error-page rm-error-page">
  <p class="rm-error-page__code">404</p>
  <h1 class="rm-error-page__oops">{{t 'oops'}}</h1>
  {{#is error 'unauthorized'}}
    <h2 class="rm-error-page__heading">{{link 'sign_in'}}</h2>
  {{/is}}
  {{#is error 'forbidden'}}
    <h2 class="rm-error-page__heading">{{t 'not_authorized'}}</h2>
  {{/is}}
  {{#is error 'not_found'}}
    <h2 class="rm-error-page__heading">{{t 'nonexistent_page'}}</h2>
    <p class="rm-error-page__desc">{{t 'mistyped_address_or_moved_page'}}</p>
  {{/is}}
  <div class="rm-error-page__action">
    {{#link 'help_center' class='rm-error-page__btn'}}
      <span>← {{t 'back_to_homepage'}}</span>
    {{/link}}
  </div>
</div>
