<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero hero--centered">
  <div class="hero-inner">
    <div class="hero__title">
    	{{dc 'header_search_bar'}}
    </div>
    
    <div>	
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
    
    <section class="home__quick-links-block">
      <h2 class="home__quick-links-title">
        {{dc 'sc_go_to'}}:
      </h2>
      <div class="home__quick-links-container">
        <div class="blocks-item">
          <a href="{{dc 'sc_latestfeatures-link'}}" class="blocks-item-link">
            <span class="blocks-item-title">{{dc 'sc_latest_features'}}</span>
          </a>
        </div>
        
        <div class="blocks-item">
          <a href="https://support.rentman.io/hc/en-us/articles/21998749265938" class="blocks-item-link">
            <span class="blocks-item-title">{{dc 'sc_change_log'}}</span>
          </a>
        </div>
        
        <div class="blocks-item">
          <a href="{{dc 'sc_quickstartguides-link'}}" class="blocks-item-link">
            <span class="blocks-item-title">{{dc 'sc_quickstart_guides'}}</span>
          </a>
        </div>
      </div>
		</section>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">  
    <section class="categories blocks">
      <ul class="blocks-list">
				<li class="blocks-item">
          <a href="{{dc 'hp_-_projects_-_link'}}" class="blocks-item-link">
            <span class="blocks-item-icon material-icons">table_chart</span>
            <span class="blocks-item-title">{{dc 'sc_rental_title'}}</span>
            <span class="blocks-item-subtitle">{{dc 'sc_rental_subtext'}}</span>
            <span	class="blocks-item__read-more">
              {{dc 'sc_read_more'}}
              
              <em class="material-icons">chevron_right</em>
            </span>
          </a>
        </li>
        
        <li class="blocks-item">
          <a href="{{dc 'hp_-_inventory_-_link'}}" class="blocks-item-link">
            <span class="blocks-item-icon material-icons">category</span>
            <span class="blocks-item-title">{{dc 'sc_inventory_title'}}</span>
            <span class="blocks-item-subtitle">{{dc 'sc_inventory_subtext'}}</span>
            <span	class="blocks-item__read-more">
              {{dc 'sc_read_more'}}
              
              <em class="material-icons">chevron_right</em>
            </span>
          </a>
        </li>
        
        <li class="blocks-item">
          <a href="{{dc 'hp_-_crew_transport_-_link'}}" class="blocks-item-link">
            <span class="blocks-item-icon material-icons">group</span>
            <span class="blocks-item-title">{{dc 'sc_crew_title'}}</span>
            <span class="blocks-item-subtitle">{{dc 'sc_crew_subtext'}}</span>
            <span	class="blocks-item__read-more">
              {{dc 'sc_read_more'}}
              
              <em class="material-icons">chevron_right</em>
            </span>
          </a>
        </li>
        
        <li class="blocks-item">
          <a href="{{dc 'hp_-_setting_up_-_link'}}" class="blocks-item-link">
            <span class="blocks-item-icon material-icons">settings</span>
            <span class="blocks-item-title">{{dc 'sc_settings_title'}}</span>
            <span class="blocks-item-subtitle">{{dc 'sc_settings_subtext'}}</span>
            <span	class="blocks-item__read-more">
              {{dc 'sc_read_more'}}
              
              <em class="material-icons">chevron_right</em>
            </span>
          </a>
        </li>
      </ul>
    </section>
    
    {{#if false}}
      <section class="categories blocks custom-homepage-blocks-container">
        <ul class="blocks-list">
          <li class="blocks-item blocks-item--orange">
            <a href='{{dc'hp_-_migration_-_link'}}' class="blocks-item-link">
              <span class="blocks-item-title">{{dc'hp_-_upgrade_plan'}}</span>
              <span class="blocks-item-subtitle">{{dc'hp_-_upgrade_plan_-_h4_1'}}</span>
              <span class="blocks-item-subtitle">{{dc'hp_-_upgrade_plan_-_h4_2'}}</span>
              <span class='blocks-item-cta-button'>{{dc'hp_-_upgrade_plan_-_button'}}</span>
            </a>
          </li>
        </ul>

        <ul class="blocks-list">
          <li class="blocks-item blocks-item--blue blocks-item--horizontal">
            <a href='{{dc'hp_-_video_tutorials_-_link'}}' class="blocks-item-link">
              <span class="material-icons blocks-item-icon">play_circle_filled</span>
              <span class="blocks-item-title">{{dc'hp_-_video_tutorials'}}</span>
            </a>
          </li>

          <li class="blocks-item blocks-item--blue blocks-item--horizontal">
            <a href='{{dc'hp_-_troubleshooting_-_link'}}' class="blocks-item-link">
              <span class="material-icons blocks-item-icon">pageview</span>
              <span class="blocks-item-title">{{dc'hp_-_faqs'}}</span>
            </a>
          </li>
        </ul>
      </section>
    {{/if}}

    {{#if false}}
      {{#if promoted_articles}}
        <section class="articles">
          <h2>{{t 'promoted_articles'}}</h2>
          <ul class="article-list promoted-articles">
            {{#each promoted_articles}}
              <li class="promoted-articles-item">
                  <a href="{{url}}">
                    {{title}}

                    {{#if internal}}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                        <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                        <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                      </svg>
                    {{/if}}
                  </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
    {{/if}}
  </section> 

  {{#if false}}
  	{{#if help_center.community_enabled}}
    	<section class="section home-section community">
      	<h2>{{t 'community'}}</h2>
      	{{#link 'community' class='community-link'}}
        	{{t 'join_conversation'}}
      	{{/link}}

      	<div class="community-image"></div>
    	</section>
  	{{/if}}
  {{/if}}

  {{#if false}}
    <section class="section home-section activity">
      {{#if settings.show_recent_activity}}
        {{recent_activity}}
      {{/if}}
    </section>
  {{/if}}
  
  {{#if false}}
  	{{#if help_center.community_enabled}}
      <div class="section home-section community">
        <h2>{{t 'community'}}</h2>
        {{#link 'community' class='community-link'}}
          {{t 'join_conversation'}}
        {{/link}}
      </div>
    {{/if}}
  {{/if}}
  
  {{#if false}}
  	{{#if settings.show_recent_activity}}
      <section class="community-recent-activity">
        {{recent_activity}}
      </section>
    {{/if}}
  {{/if}}
</div>
